/* CSS styles*/
:root {
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet:hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
}

.heading-lt {
  font-family: 'DM Serif Display', serif;
  color: white;
  font-weight: 400;
  font-size: 3rem;
}

.heading-dk {
  font-family: 'DM Serif Display', serif;
  color:black;
}

.body-text-lt {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  color: white;
  font-weight: 400;
}

/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* NAVBAR STYLING */
nav {
  display: flex;
  padding: 1.85rem 9rem;
  background-color: white;
  z-index: 2;
  width: 100%;
  position: absolute;
}

nav > * {
  display: flex;
  flex: 1 1 100%;
}

.nav-logo-container {
  align-items: center;
}
.nav-logo {
  height: 20px;
}

.nav-menu {
  flex: 1 1 100%;
  list-style: none;
  font-family: 'Karla', sans-serif;
  font-size: 12px;
  color: var(--dark-grayish-violet);
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

.nav-menu-item {
  justify-content: center;
}

.btn-viewplans-nav {
  background-color: white;
  border: 1px solid var(--dark-grayish-violet);
  padding: .5rem 1.5rem;
  font-size: 12px;
  font-family: 'Karla', sans-serif;
}

/*LANDING SECTION*/

.landing-section {
  background-color: var(--dark-violet);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4.5rem 9rem;
  height: 700px;
}

.landing__text-container {
  display: grid;
  width: 95%;
  justify-content: center;
  align-content: center;
}

.landing_headline::before {
  background-color: white;
  height: 1px;
  width: 140px;
  content: '';
  position: absolute;
  top: 15rem;
}

.landing_headline {
  margin-right: 2.95rem;
  line-height: 1;
  padding-top: 2rem;
  font-size: 4.25rem;
}

.landing_text {
  margin-top: 1.5rem;
  width: 100%;
  line-height: 1.5;
}

.landing__img-container {
  width: 100%;
}

.img-landing {
  transform: translate(12%, 21%);
}

.btn-viewplans-landing {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: .5rem 1.5rem;
  margin-top: 2rem;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 500;
}

.landing__bg-left {
  transform: translateY(-32%);
}

.landing__bg-img-r {
  justify-content: flex-end;
  align-content: flex-end;
  display: flex;
  width: 100%;
}

.landing__bg-right {
  position: absolute;
  transform: translate(0, 2%);
  z-index: 1;
}


