/* RESET*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*CONSTANT STYLES*/

:root {
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
}

.hidden {
  display: none;
}

/*NAVBAR*/

.hide {
  display: none;
}

.top-nav {
  background-color: var(--very-light-gray);
  display: flex;
  padding: 1.85rem 9rem;
  position: sticky;
  z-index: 999;
}

.nav-logo {
  height: 20px;
  align-self: center;
}

.nav-menu {
  list-style: none;
  display: flex;
  flex: 1 1 100%;
  justify-content: flex-end;
  gap: 1.5em;
}

.nav-item {
  font-family: 'Karla', sans-serif;
  color: var(--dark-grayish-violet);
  font-size: 13px;
  align-self: center;
  font-weight: 700;
  letter-spacing: 1px;
}

.nav-item:hover {
  cursor: pointer;
  color: (var(--))
}

.nav-btn {
  padding: .75rem 1.8rem;
  background-color: white;
  border: 2px solid var(--dark-violet);
  font-family: 'Karla';
  color: var(--dark-violet);
}

.nav-btn:hover {
  background-color: var(--dark-violet);
  color: var(--very-light-gray);
  transition: all 0.3s ease-in-out;
}

/*HAMBURGER MENU*/

.hamburger-menu {
  font-weight: bolder;
  display: flex;
  display: none;
  justify-content: flex-end;
  align-content: flex-end;
  border: 1px solid black;
  padding: .7rem .8rem;
  background-color: var(--very-light-gray);
}

/*LANDING PAGE*/

.landing__container {
  width: 100%;
}

.landing__bg {
  background-color: hsl(256, 26%, 20%);
  padding: 2rem 9rem;
  height: 620px;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: grid;
}

.landing__text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  display: grid;
  height: 50%;
}

.landing-headline {
  color: var(--very-light-gray);
  font-size: 79px;
  width: 90%;
  line-height: .9;
  font-family: 'DM Serif Display',
  sans-serif;
  font-weight: 400;
  transform: translateY(-66px);
}

.landing-description {
  font-family: 'Karla', serif;
  font-size: 18px;
  color: var(--very-light-gray);
  line-height: 1.5;
  transform: translateY(-49%);
}

.underscore {
  bottom: 4rem;
  position: relative;
  background-color: var(--very-light-gray);
  height: 1px;
  width: 160px;
  top: -9rem;
}

.img-landing {
  transform: translate(155%, -80%);
}

.btn-landing {
  margin-top: 1.5rem;
  color: var(--very-light-gray);
  background-color: transparent;
  border: 1.75px solid var(--very-light-gray);
  padding: .75rem 1.45rem;
  letter-spacing: 1.8px;
  font-size: 13px;
  font-weight: 700;
  font-family: 'Karla', sans-serif;
  margin-top: 10px;
  cursor: pointer;
}

.btn-landing:hover {
  background-color: var(--very-light-gray);
  color: var(--dark-violet);
  transition: all 0.3s ease-in-out;
}

.img-landing-bg-left {
  position: absolute;
  left: 0;
  top: 27rem;
  transform: translate(0%, 5%);
  width: 180px;
}

.img-landing-bg-right {
  position: absolute;
  right: 0;
  transform: translateY(-70%);
  z-index: 1;
}

.hidden {
  display: none;
}

.hide {
  display: none;
}

/*BODY SECTION*/

.body__container {
  padding: 1.85rem 9rem;
  margin-top: -27%;
}

.underline-body {
  height: .01em;
  position: absolute;
  background-color: var(--dark-grayish-violet);
  width: 100px; 
  transform: translateY(50%);
}

.body-headline {
  font-family: 'DM Serif Display', sans-serif;
  font-size: 50px;
  font-weight: 400;
  margin-top: 2rem;
  color: var(--dark-violet);
}

.body-info__section {
  display: grid;
  margin-top: 4rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  justify-content: space-evenly;
}

.body-info__section > * {
  display: grid;
  align-content: start;
}

.body-info-title {
  font-family: 'DM Serif Display', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: var(--dark-violet);
}

.body-description {
  font-family: 'Karla', serif;
  color: var(--dark-grayish-violet);
  line-height: 1.5;
  font-size: 18px;
}

/*HOW WE WORK BANNER*/

.banner__container {
  padding: 1.85rem 9rem;
  margin-top: 6rem;
}
.banner__bg {
  background-color: var(--dark-violet);
  padding: 4.8rem 4.5rem;
  display: flex;
  justify-content: space-between;
}

.banner-header {
  color: var(--very-light-gray);
  font-family: 'DM Serif Display', sans-serif;
  font-weight: 400;
  font-size: 48px;
  width: 39%;
  overflow-wrap: break-word;
  line-height: 1;
}

.banner-btn-container {
  align-self: center;
  z-index: 2;
}

.bg-img {
  z-index: 1;
}

.btn-how_we_work {
  padding: 0.7rem 1.5rem;
  border: 2px solid var(--very-light-gray);
  background-color: transparent;
  color: var(--very-light-gray);
  font-family: 'Karla',
  serif;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  z-index: 555;
}

.btn-how_we_work:hover {
  background-color: var(--very-light-gray);
  color: var(--dark-violet);
  transition: all 0.3s ease-in-out;
}

.img-banner-bg {
  position: absolute;
  right: 0;
  transform: translate(-34%, -30%);
  z-index: 1;
}

/*FOOTER*/

footer {
  padding: 5rem 9rem;
  margin-top: 3rem;
}

.footer-logo {
  height: 15px;
  display: flex;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 0;
}

.footer-socials {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  list-style: none;
  gap: 1rem;
  cursor: pointer;
}

.social-item:hover {
  filter: hue-rotate(-10deg) saturate(3) brightness(50%);
}

.info-list-item:hover {
  text-decoration: underline;
  color: var(--dark-violet);
}

.footer-info-container {
  padding-top: 3rem;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 6rem;
}

.footer-info-container > * {
  flex: 1 1 100%;
}

.footer-headline {
  font-family: 'Karla', sans-serif;
  color: var(--dark-grayish-violet);
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

.info-list {
  list-style: none;
}

.info-list-item {
  font-family: 'Karla', sans-serif;
  color: var(--very-dark-violet);
  font-weight: 800;
  font-size: 14.5px;
  margin-bottom: 1rem;
}

.footer-underline {
  padding: 0 9rem;
  margin-top: 2.5rem;
  height: 2px;
  width: 100%;
  position: relative;
  background-color: var(--very-light-gray);
}

/* MOBILE SCREENS*/

@media screen and (max-width: 870px) {

  .hidden {
    display: block;
  }

  .hide {
    display: none;
  }

  .nav-bg {
    z-index: 1;
    display: flex;
    transform: translate(-26%, 59%);
    width: 174%;
  }

  .nav-menu.show {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;
    background-color: var(--very-dark-violet);
    padding: 7rem 5rem;
    height: 100%;
    position: fixed;
    margin-top: 3.5rem;
    left: 0;
    top: 38px;
    gap: 2rem;
  }

  .nav-item {
    color: var(--very-light-gray);
    font-size: 18px;
    font-weight: 600;
  }

  .nav-btn {
    background-color: transparent;
    border: 2px solid var(--very-light-gray);
    width: 100%;
  }

  .top-nav {
    padding: 1.85rem 1rem;
    justify-content: space-between;
    width: 100%;
  }

  .nav-logo {
    height: 15px;
  }

  .nav-menu {
    display: none;
  }

  .hamburger-menu.show {
    cursor: pointer;
    display: block;
  }

  .close-menu.show {
    cursor: pointer;
    border: 1px solid black;
    padding: .7rem .8rem;
    display: block;
    background-color: var(--very-light-gray);
  }

  .underscore {
    background-color: transparent;
  }

  .landing__section {
    width: 100%;
  }  

  .landing__container {
    justify-content: center;
    align-items: center;
    align-content: center;
    display: grid;
    padding: 0;
  }
  
  .landing__bg {
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    order: 2;
    padding: 1.15rem;
  }
  
  .landing__text-container {
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    padding: 0;
    width: 100%;
    z-index: 1;
    margin-top: 2rem;
  }

  .landing-headline {
    width: 100%;
    margin: 0 auto;
    font-size: 46px;
    transform: translateY(-68%);
  }

  .landing-description {
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
    transform: translateY(-22%);
  }

  .landing__img-container {
    order: -1;
    width: 100%;
  }

  .btn-landing {
    border: 2px solid var(--very-light-gray);
    font-size: 14px;
    padding: 1rem 2.15rem;
  }

  .img-landing {
    transform: translate(0, 0);
    object-fit: cover;
    margin: 0 auto;
    display: block;
    width: 100%;
  }

  .img-landing-bg-right, .img-landing-bg-left {
    display: none;
  }

  .img-landing-bg-right-mobile {
    transform: translate(0%, 39%);
    right: 0;
    position: absolute;
  }
  
  .img-landing-bg-left-mobile {
    transform: translate(-11%, -188%);
    position: absolute;
    left: 0;
  }

  .body__container {
    padding: 5rem 1rem;
    margin-top: 5rem;
  }

  .underline-body {
    position: inherit;
    display: block;
    margin: 0 auto;
    width: 180px;
  }
  
  .body-headline {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 6rem;
    font-size: 52px;
    color: var(--dark-violet);
  }

  .body-info__section {
    display: grid;
    grid-template-columns: 1fr;
  }

  .body-info__section > * {
    margin-bottom: 2.5rem;
  }

  .body-info-title {
    text-align: center;
    font-size: 28px;
    color: var(--dark-violet);
  }

  .body-description {
    text-align: center;
    font-size: 18px;
  }

  .body-icon {
    margin: 0 auto;
  }  

  .banner__container {
    padding:  2rem;
    margin-top: 0;
    display: grid;
    justify-content: center;
    align-content: center;
  }

  .banner__bg {
    padding: 1.5rem 1rem;
    display: grid;
    grid-template-rows: 1fr;
    align-content: center;
    justify-content: center;
  }

  .banner-header {
    width: 100%;
    padding: 2rem 1rem;
    text-align: center;
    font-size: 42px;
  }

  .btn-how_we_work {
    margin: 0 auto;
    display: block;
    margin-top: 1rem;
    padding: .8rem 2.5rem;
  }

  .img-banner-bg {
    display: none;
  }

  .img-banner-bg-mobile {
    position: absolute;
    right: 0;
    transform: translate(-19%, -81%);
  }

  footer {
    padding: 6rem 0;
    background-color: var(--very-light-gray);
  }

  .footer-underline {
    background-color: var(--dark-grayish-violet);
    height: .5px;
    width: 90%;
    margin: 3rem auto;
  }

  .footer-nav {
    display: grid;
    gap: 2.5rem;
    justify-content: center;
    background-color: var(--very-light-gray);
    z-index: 2;
  }

  .footer-logo {
    margin: 0 auto;
    height: 20px;
  }

  .footer-info-container {
    display: grid;
    justify-content: center;
    gap: 2rem;
    padding-top: 1rem;
  }

  .footer-info-container > * {
    text-align: center;
  }

  .img-bg-footer {
    position: absolute;
    transform: translate(10px, -96px);
    z-index: 3;
  }
}

/*LARGE SCREENS*/

@media screen and (min-width: 1600px) {

  .top-nav {
    padding: 1.85rem 14rem;
  }

  .landing__bg {
    padding: 1.85rem 14rem;
  }

  .img-landing {
    transform: translate(211%, -79%);
  }

  .hidden {
    display: none;
  }

  .img-banner-bg {
    position: absolute;
    right: 0;
    transform: translate(-34%, -30%);
}

  .banner__bg {
    padding: 5.2rem 4.5rem;
  }
}


